/* whole page items */
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  height: 100%;
}

label {
  display: block;
}

button {
  border-radius: 20px;
  background-color: #d1d2d4;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

input {
  width: 150%;
  height: 30px;
}



/* Logo / top page */
.banner {
  width: 35%;
}

header {
  display: flex;
  justify-content: center;
  background-color: #404041;
}

/* Left and right columns of page */
.column-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #adadad;
  background-color: #f7f7f7;
  width: 50%;
  height: 100vh;
}

.column-right {
  background-color: #d0d2d3;
  width: 50%;
  height: 100vh;
}


/* left column items */
.update-button {
  width: 20%;
  margin-top: 18px;
}

.label-input-flex {
  display: flex;
  justify-content: space-between;
}

.input-guess {
  position: relative;
  right: 84px;
}

.input-name {
  width: 43%;
}

.left-box {
  border: 1px solid #d1d2d4;
  background-color: white;
  width: 93%;
  margin-top: 10px;
  padding: 10px;
}
.challenger-flex {
  display: flex;
  justify-content: space-around;
}
