/* whole page items */
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  height: 100%;
}

label {
  display: block;
}

button {
  border-radius: 20px;
  background-color: #d1d2d4;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #d1d2d4;
  height: 37px;
  margin-top: 20px;
}

input {
  width: 150%;
  height: 35px;
  margin-top: 2px;
}

h2 {
  margin: 0 0 10px 0;
  font-size: 19px;
  width: 100%;
}

h3 {
  margin: 0;
  font-size: 17px;
  color: #727279;
}

p {
  margin: 0 0 10px 0;
}

/* Logo / header / top page */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #404041;
}

em {
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
}

.logo {
  font-size: 57px;
  margin: 0;
  color: #dd1972;
}

.logo-line {
  margin: -27px 10px 0px 10px;
  width: 85px;
  color: white;
}

.uce {
  font-size: 19px;
  margin: -9px 5px 20px 5px;
  color: white;
}

.uce-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span {
  font-weight: bold;
}

/* Left and right columns of page */
.column-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #adadad;
  background-color: #f7f7f7;
  width: 50%;
  height: 100vh;
}

.column-right {
  background-color: #d0d2d3;
  width: 50%;
  height: 100vh;
}

/* left column items */
.update-button {
  width: 22%;
  margin-top: 22px;
}

.label-input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-guess {
  position: relative;
  right: 84px;
}

.input-name {
  width: 43%;
}

.left-box {
  border: 1px solid #d1d2d4;
  background-color: white;
  width: 93%;
  margin-top: 10px;
  padding: 10px;
}

.challenger-flex {
  display: flex;
  justify-content: space-around;
}

/* Right Column Boxes */

.outcome-hr {
   width: 80%;
   color: #d1d2d4;
}

.challenge-outcome {
width: 80%;
margin: 10px 10px 10px 70px;
border: 2px solid #adadad;
background-color: white;
}

.co-names {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vs {
margin: 17px 10px 0px 15px;
font-size: 18px;
}

.mid-challenge-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.challenge-line {
  width: 90%;
  margin: 0;
}

.outcome-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -10px;
}

.close-button {
  border-radius: 50%;
  background-color: #7F7F7F;
  color: #CECFD1;
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 2px;
  background-image: url(assets/icons8-multiply-48.png);
  background-size: 23px;
  background-repeat: no-repeat;
  border: 1px solid #7F7F7F;
}

p.c-name {
    font-size: 37px;
    font-weight: bold;
    margin: 10px 10px 0px 0px;
}

.c-text {
  color: #7F7F7F;
  margin-top: 19px;
}

.winner {
  font-size: 37px;
  margin: 5px 0px 0px 0px;

}

/* middle left box */

.challenger-guess {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 50%;
}

.buttons-flex {
  display: flex;
  justify-content: space-around;
}

.submit-reset-clear-btns {
  padding-left: 25px;
  padding-right: 25px;
}

.no-guesses {
  font-size: 20px;
  margin-top: 50px;
}

.set-range {
  padding-bottom: 25px;
}

.enable-button {
  background-color: #6e6e6e;
}
